<span class='card-rating'>
  <% rating.to_i.times do %>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <% end %>
  <% if rating % 1 != 0 %>
    <span class="glyphicon glyphicon-star glyphicon-half" aria-hidden="true"></span>
  <% end %>
</span>
