<ol class='card-list'>
  <li class='thumbtack-card'>
    <strong>Mark M.</strong><span class='pull-right muted'>April 10</span><br />
    <%= render partial: 'star_rating', locals: { rating: 5 } %><br />
    <p>Above and beyond expectation. Freindly, helpful, and professional. Troubleshooted and fixed just the prolem(a new cable), not a whole new system. Highly recommended!</p>
  </li>
  <li class='thumbtack-card'>
    <strong>Darlene S.</strong><span class='pull-right muted'>April 8</span><br />
    <%= render partial: 'star_rating', locals: { rating: 5 } %><br />
    <p>Our experience with Protech was great! David and Tim were both professional and friendly. They came prepared with all of the items they might have needed to complete the job. They carried the old TV stand out for us. They cleaned up the work area. They even offered to vacuum in front of the fireplace! Two thumbs up for Protech!</p>
  </li>
  <li class='thumbtack-card'>
    <strong>Mike D.</strong><span class='pull-right muted'>April 10</span><br />
    <%= render partial: 'star_rating', locals: { rating: 5 } %><br />
    <p>They did an excellent job! The TV came out awesome, the price was right and everything runs seamlessly. Very professional and friendly. Def wouldn't hesitate to hire them again.</p>
  </li>
</ol>
