<div class="container">
  <h2>Contact Us</h2>
  <h3>
    <label>Phone Number: </label>
    <strong>978-364-6853</strong>
  </h3>
  <h3>
    <label>Email: </label>
    <strong>service@nedatatech.com</strong>
  </h3>
</div>
