  <div id="carousel_container">
  	<div id="main_carousel">
  	  <%= render partial: 'main_carousel' %>
    </div>
    <div id="review_carousel">  
  	  <%= render partial: 'reviews', locals: { reviews: @reviews } %>
  	</div>
  </div>
  <div id="page-content" class="container" %>
    <div id="under_construction" class="container">      
      <%= render partial: 'under_construction.text.erb' %> 
    </div>
    <%= yield %>
  </div>
