<div class="row">
  <%= render partial: 'navbar' %>
</div>
<div class="row">
  <%= render partial: 'main_carousel' %>
</div>
<div class="row">
  <%= render partial: 'reviews', locals: { reviews: @reviews } %>
</div>
<div class="row">
    <%= render partial: 'contact' %>
</div>