// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 12px;

  @media (min-width: 800px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

.title {
  font-size: 1.5rem;
}

.body {
  font-size: 1rem;
}

.navbar-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: #777;

  .navbar {
    margin-top: 2em;
    border-radius: 4px;
  }
}

.carousel {
  position: relative;
}

.card-list {
  border: solid black;
  border-width: 1px;
  padding: 0px;
  height: 20em;
  overflow-y: scroll;
}

.home-advisor-card,
.thumbtack-card {
  list-style: none;

  padding: 1em;
  text-align: left;

  &:not(:first-of-type) {
    border-top: 1px solid black;
  }

  p {
    padding-bottom: none;
  }
}

.home-advisor-card  strong {
  display: block;
}

.carousel {
  width: 100%;
  height:100%;
  position: relative;
}

.glyphicon-half {
  width: 0.5em;
  overflow-x: hidden;
}

img.img-link {
  cursor: pointer;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

#carousel_container{
    position: relative;
    width: 100%;
}

#main_carousel {
    width: 100%;
    height: 100%;
}

#review_carousel {
    position: absolute;
    top: 350px;
    right: 0px;
    width: 100%;
    height: 40px;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: red;

#under_construction {
    position: absolute;
    top: 250px;
    right: 0px;
    width: 100%;
    height: 40px;
    color: $primary-color;
    font: 100% $font-stack;
    font-size: 1.5rem;
    text-align: center;
    border: solid black;
    border-width: 1px;
    padding: 0px;
    background: white;
}

#services {
    position: absolute;
    top: 6rem;
}