// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: #777;

  .navbar {
    margin-top: 2em;
    border-radius: 4px;
  }
}

.carousel {
  position: relative;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}

.marketing {
  padding-top: 2em;
}

.marketing .img-circle {
  border: solid 1px #777;
}

.card-list {
  border: solid black;
  border-width: 1px;
  padding: 0px;
  height: 20em;
  overflow-y: scroll;
}

.home-advisor-card,
.thumbtack-card {
  list-style: none;

  padding: 1em;
  text-align: left;

  &:not(:first-of-type) {
    border-top: 1px solid black;
  }

  p {
    padding-bottom: none;
  }
}

.home-advisor-card  strong {
  display: block;
}

.carousel-inner .item img {
  min-height: 100%;
}

.glyphicon-half {
  width: 0.5em;
  overflow-x: hidden;
}

img.img-link {
  cursor: pointer;
}
